---
Checks: 'bugprone-*,
         cert-*,
         clang-*,
         concurrency-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,

         -bugprone-assignment-in-if-condition,
         -bugprone-easily-swappable-parameters,
         -bugprone-reserved-identifier,
         -bugprone-unchecked-optional-access,
         -cert-err58-cpp,
         -clang-analyzer-cplusplus.NewDeleteLeaks,
         -clang-diagnostic-c++2a-designator,
         -clang-diagnostic-deprecated-copy,
         -clang-diagnostic-range-loop-analysis,
         -concurrency-mt-unsafe,
         -misc-const-correctnes,
         -misc-macro-parentheses,
         -misc-no-recursion,
         -misc-non-private-member-variables-in-classes,
         -misc-suspicious-semicolon,
         -misc-unused-parameters,
         -misc-use-anonymous-namespace
         -modernize-avoid-c-arrays,
         -modernize-macro-to-enum,
         -modernize-use-equals-default,
         -modernize-use-nodiscard,
         -modernize-use-trailing-return-type,
         -performance-no-int-to-ptr,
         -readability-braces-around-statements,
         -readability-container-size-empty,
         -readability-convert-member-functions-to-static,
         -readability-else-after-return,
         -readability-function-cognitive-complexity,
         -readability-function-size,
         -readability-identifier-length,
         -readability-implicit-bool-conversion,
         -readability-isolate-declaration,
         -readability-magic-numbers,
         -readability-make-member-function-const,
         -readability-named-parameter,
         -readability-qualified-auto,
         -readability-static-definition-in-anonymous-namespace,÷
         '

HeaderFilterRegex: '/src'
WarningsAsErrors: '*'
