# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

- repo: local
  hooks:
  - id: autogen-readme
    name: Update README
    entry: ./auxil/update-readme
    language: script
    pass_filenames: false

- repo: local
  hooks:
  - id: zeek-script
    name: Format Zeek scripts
    entry: zeek-agent/auxil/format-zeek-script
    files: \.zeek$
    language: script

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v13.0.0'
  hooks:
  - id: clang-format

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit/cpp
  rev: 0.8.0
  hooks:
  - id: cpplint
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.17.0
  hooks:
  - id: gitlint

exclude: 3rdparty/|/Baseline/
